img {
  border-radius: 8px;
  background: linear-gradient(75deg, #485157 0%, #A9DBC0 50%, #FFF 100%);

  /* fixes alt text flashing on firefox during image load */
  color: transparent;
}

.favourite-button {
  background-color: rgb(255, 255, 255, 0.8);

  &:focus {
    background-color: white;
  }
}

.vote-button {
  background: transparent;

  &:hover {
    background: #ffffff2b;
  }
}

.cat-score {
  font-family: Arial, Helvetica, sans-serif;
  background: var(--mantine-primary-color-light);
}