img {
  border-radius: 8px;
  background: linear-gradient(45deg, var(--mantine-color-indigo-filled) 0%, var(--mantine-color-cyan-filled) 100%);

  /* fixes alt text flashing on firefox during image load */
  color: transparent;
}

.favourite-button {
  background-color: rgb(255, 255, 255, 0.8);

  &:focus {
    background-color: white;
  }
}

.vote-button {
  background: transparent;

  &:hover {
    background: #ffffff2b;
  }
}


.cat-score {
  p {
    font-size: .9em;
    font-family: Arial, Helvetica, sans-serif;
  }
}